.subscribe__btn, .subscribe__info {
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  padding: 0;
}

input {
  padding: 0;
}

/* 
img {
  width: 100%;
  max-width: 100%;
  display: block;
} */
body {
  font-family: "Cormorant Upright";
  background-color: #0c0b08;
  color: #aaa;
  letter-spacing: 0.04em;
  background-image: url(../../img/waveelement.webp);
  background-position: 0px 1110px;
}

.container {
  max-width: 1332px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* outline: red solid; */
}

button {
  cursor: pointer;
}

.logo {
  fill: #dcca87;
}

.button {
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
}

.button:hover {
  background-color: #968a5d, #968a5d;
  box-shadow: 7px 5px 10px 0px rgba(255, 255, 255, 0.5);
}

.button-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 120px;
  right: 120px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #dcca87;
  transition-property: background-color, box-shadow;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}

.icon-arrow-up {
  width: 25px;
  height: 25px;
}

.button-scroll:hover {
  background-color: #0c0b08;
  box-shadow: 3px 3px 15px 5px #dcca87;
}

.button-scroll:hover .icon-arrow-up {
  fill: #dcca87;
}

.header {
  padding: 32px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(12, 12, 12, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  position: relative;
}
.header__title {
  color: #fff;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  position: absolute;
  left: -190px;
}
.header__navigation {
  margin-left: auto;
}
.header__pages {
  display: flex;
  gap: 32px;
}
.header__page:hover .header__list {
  opacity: 1;
}
.header__page:hover .header__link::after {
  opacity: 1;
  transform: scaleX(1);
  animation-name: header-link;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}
.header__link {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  border-radius: 4px;
}
.header__link::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #dcca87;
  transition-property: opacity, transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
  transform: scaleX(0);
}
.header__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 435px;
  opacity: 0;
  background-color: rgba(250, 10, 10, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.header__link::after {
  color: #dcca87;
}
.header__autorizations {
  display: flex;
  margin-left: 271px;
  margin-right: 49px;
}
.header__login, .header__reg {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.header__menu {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 49px;
  position: absolute;
  right: -190px;
}
.header__menu::before {
  content: "";
  width: 2px;
  height: 57px;
  display: block;
  background-image: url(../../img/line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  padding-bottom: 128px;
  background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url(../../img/malik.png);
  background-position: 0 221px;
  background-repeat: no-repeat;
}

.subscribe {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.subscribe__slogan {
  color: #fff, #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.subscribe__spoon {
  margin-top: 8px;
  margin-bottom: 8px;
}
.subscribe__title {
  color: #dcca87;
  text-align: center;
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.subscribe__info {
  margin-bottom: 64px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
}
.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.subscribe__input {
  width: 635px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid #f5efdb;
  background-color: transparent;
  padding-left: 19px;
}
.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  border: 1px solid #dcca87;
  background-color: #dcca87;
  width: 129px;
  height: 44px;
  color: #0c0c0c;
  font-family: Cormorant Upright;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px;
}
.contact .container {
  padding-bottom: 16px;
}
.contact__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
  text-align: center;
  font-family: Open Sans;
}
.contact__box:first-child {
  margin-right: 126px;
}
.contact__box:nth-child(2) {
  margin-right: 228px;
}
.contact__box:last-child {
  flex-shrink: 0;
  text-align: center;
}
.contact__title {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cormorant Upright;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px;
  margin-bottom: 24px;
  color: #f5efdb;
}
.contact__addres {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  width: 305px;
  font-style: normal;
}
.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
}
.contact__link {
  color: inherit;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}
.contact__logo {
  color: #dcca87;
  text-align: center;
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.contact__info {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #fff;
}
.contact__spoon {
  margin: 16px auto;
}
.contact__socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.contact__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.contact__schedule {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  width: 203px;
}
.contact__time {
  display: block;
}
.contact__copyright {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-top: 80px;
  color: #aaa;
  font-family: Open Sans;
}/*# sourceMappingURL=blog.css.map */