:root {
  
    --accent-color: #dcca87;
  --title-color: #fff;
  --text-color: #aaa;
  --background-color: #0c0b08;
  --decor-color: #f5efdb;
  --time-color: #FAFAFA;
  --button-text-color:#0C0C0C;
}
body {
  font-family: "Cormorant Upright";
background-color: var(--background-color);
color: var(--text-color);
letter-spacing: 0.04em;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: red solid;
}

button {
    cursor: pointer;
}
