.hero{
    padding-top: 254px;
    padding-bottom: 254px;
    background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)),
      url(../../img/pexels.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero-title {
    color: var(--accent-color);
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.3; /* 117px */
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .hero-article {
    color: var(--title-color);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    text-align: center;
  }
  
  
  .hero-box {
    @include flexbox($center-y: center, $gap: 8px);
  }
  
  .hero-home {
    color: var(--title-color);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3; /* 29.9px */
    text-transform: capitalize;
  }
  
  .hero-image {
    width: 24px;
    height: 24px;
  }
  
  .hero-article {
    color: var(--title-color);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3; /* 29.9px */
    text-transform: capitalize;
  }