
body {
  font-family: "Cormorant Upright";
  background-color: $background-color;
  color: $text-color;
  letter-spacing: 0.04em;
  background-image: url(../../img/waveelement.webp);
  background-position: 0px 1110px;
}

.spoon-icon {
    fill: $accent-color;
    width: 40px;
    height: 9px;
    transition-property:  fill ;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0,.99,.12,.28);
  }
  
  .spoon-icon:hover {
    fill: white;
  }


.container {
  max-width: 1332px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* outline: red solid; */
}

button {
  cursor: pointer;
}

.logo {
  fill: $accent-color;
}

.button {
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
}

.button:hover {
  background-color: $accent-hover, #968a5d;
  box-shadow: 7px 5px 10px 0px rgba(255, 255, 255, 0.5);
}

.button-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 120px;
  right: 120px;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background-color: $accent-color;

  transition-property: background-color, box-shadow;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}
.icon-arrow-up {
  width: 25px;
  height: 25px;
}
.button-scroll:hover {
  background-color: $background-color;
  box-shadow: 3px 3px 15px 5px $accent-color;
}
.button-scroll:hover .icon-arrow-up {
  fill: $accent-color;
}
