

/* Hero */

.hero-section {
  padding-top: 254px;
  padding-bottom: 254px;
}

.hero-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.3; 
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.hero-article {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

/* Information */

.information-section {
  padding-top: 152px;
  padding-bottom: 152px;
}

