.container {
  width: 1332px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  outline: solid red;
}

body {
  font-family: Cormorant Upright;
  word-wrap: break-word;
}

/* Header */
.head {
  padding-bottom: 32px;
  padding-top: 32px;
}

.head-logo {
  color: var(--title-color);
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.head-link {
  color: var(--title-color);
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.head-reg,
.head-menu {
  color: var(--title-color);
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

/* Hero */

.hero-section {
  padding-top: 254px;
  padding-bottom: 254px;
}

.hero-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.3; 
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.hero-article {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

/* Information */

.information-section {
  padding-top: 152px;
  padding-bottom: 152px;
}

/* Subscription */

.subscription {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* Contacts */

.contacts {
  padding-top: 128px;
  padding-bottom: 128px;
}

section {
  outline: solid green;
}