:root {
  --accent-color: #dcca87;
  --text-color: #ffffff;
  --background-color: #0c0c0c;
  --additional-text-color: #aaaaaa;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  width: 1332px;
  outline: solid red;
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: Open Sans;
  word-wrap: break-word;
}

/* Header */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 44px;
  font-family: Cormorant Upright;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.header-navigation {
  margin-right: 271px;
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 32px;
}

.header-link {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.header-autorizations {
  display: flex;
  gap: 50px;
}

.header-login,
.header-reg,
.header-menu {
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

/* Hero */

.hero {
  padding-top: 254px;
  padding-bottom: 254px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: var(--accent-color);
  font-size: 90px;
  font-family: Cormorant Upright;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.hero-text {
  font-size: 23px;
  font-family: Cormorant Upright;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-top: 24px;
}

/* Team */

.team {
  padding-top: 152px;
  padding-bottom: 152px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 64px;
}

.team-item {
  width: 411px;
}

.team-name {
  font-family: Cormorant Upright;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.8px;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.64px;
}

.video-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.video {
  outline: 3px solid green;
  padding-top: 322px;
  padding-bottom: 321px;
}

/* .video-container {
  height: 763px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Menu */
.menu {
  padding-top: 152px;
  padding-bottom: 152px;
}

.menu-container {
  display: flex;
  column-gap: 111px;
  align-items: flex-end;
}

.menu-box {
  width: 634px;
  padding-top: 118.5px;
  padding-bottom: 118.5px;
}

.menu-info {
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.menu-title {
  color: var(--accent-color);
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-top: 8px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 32px;
  margin-top: 64px;
}

.menu-item {
  width: 301px;
  display: flex;
  column-gap: 32px;
}

.menu-subtitle {
  color: var(--accent-color);
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.menu-item .menu-number {
  flex-shrink: 0;
}

.menu-text {
  color: var(--additional-text-color);
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.64px;
}

.subscribe-slogan {
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.menu-photo {
  width: 360px;
  height: 379px;
  flex-shrink: 0;
}

/* Subscribe */

.subscribe {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.subscribe-spoon {
  margin-top: 8px;
  margin-bottom: 8px;
}

.subscribe-info {
  margin-bottom: 64px;
}

.subscribe-input {
  width: 635px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid var(--F5EFDB, #F5EFDB);
  background-color: transparent;
  padding-left: 19px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--DCCA87, #DCCA87);
  background: var(--DCCA87, #DCCA87);
  width: 129px;
  height: 44px;
  color: var(--0C0C0C, #0C0C0C);
  font-family: Cormorant Upright;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.subscribe-title {
  color: var(--accent-color);
  text-align: center;
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

/* Contact */

.contact-title {
  font-family: Cormorant Upright;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  outline: solid green;
  margin-bottom: 24px;
}

.contact-box {
  outline: solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-box:first-child {
  margin-right: 126px; 
}

.contact-box:nth-child(2) {
  margin-right: 228px;
}

.contact-container {
  display: flex;
}

.contact-addres {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  width: 305px;
}


.contact-link {
  color: inherit;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.contact-logo {
  color: var(--accent-color);
  text-align: center;
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.contact-socials {
  display: flex;
  justify-content: center;
}

.contact-info {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.contact-spoon {
  width: 40px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;
}

.contact-title {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cormorant Upright;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.contact-schedule {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.contact-copyright {
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.04em;
}