/* :root {
  --accent-color: #dcca87;
  --text-color: #ffffff;
  --background-color: #0c0c0c;
  --additional-text-color: #aaaaaa;
} */






/* Hero */

.hero {
  padding-top: 254px;
  padding-bottom: 254px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: var(--accent-color);
  font-size: 90px;
  font-family: Cormorant Upright;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.hero-text {
  font-size: 23px;
  font-family: Cormorant Upright;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-top: 24px;
}

/* Team */

.team {
  padding-top: 152px;
  padding-bottom: 152px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 64px;
}

.team-item {
  width: 411px;
  flex-basis: calc((100% - (2 * 32px) ) / 3);
}

.team-name {
  font-family: Cormorant Upright;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.8px;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.64px;
}

.video-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.video {
  outline: 3px solid green;
  padding-top: 322px;
  padding-bottom: 321px;
}

/* .video-container {
  height: 763px;
  display: flex;
  justify-content: center;
  align-items: center;
} */



.subscribe-slogan {
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.menu-photo {
  width: 360px;
  height: 379px;
  flex-shrink: 0;
}
