.chef {
    background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)),
      url(../../img/malik.png);
  }

  .chef {
    padding: 128px;
  }
  
  .chef-word {
    color: $title-color;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  
  .chef-title {
    color: $accent-color;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.92px;
    text-transform: capitalize;
    margin-bottom: 76px;
    margin-top: 8px;
  }
  
  .chef-chef {
    height: 789px;
  }
  
  .chef-text {
    color: $text-color;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
  }
  
  .chef-name {
    color: $accent-color;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    margin-top: 64px;
  }
  
  .chef-position {
    color:  $text-color, #aaa;
    /* Body 16px Regular */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
    margin-top: 8px;
    margin-bottom: 64px;
  }
  
  .chef-container {
    display: flex;
    gap: 96px;
  }
  
  .chef-box {
    padding-top: 87px;
  }