.special {
  padding-top: 152px;
  padding-bottom: 160px;

  &__text {
    color: $title-color;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
  }

  & .spoon-icon {
    display: block;
    margin: 8px auto;
  }

  &__title {
    color: $accent-color;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 2.56px;
    text-transform: capitalize;
  }

  &__box {
    @include flexbox($gap: 32px);
  }

  &__menu {
    width: 412px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    color: $title-color;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 45px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.8px;
    text-transform: capitalize;
  }

  &__list {
    flex-direction: column;
    margin-top: 48px;
    @include flexbox($gap: 40px);
  }

  &__coctail {
    @include flexbox($position-x: space-between);
  }

  &__drink {
    color: $accent-color;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
  }

  &__price {
    color: $title-color;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 32px;

    &::before {
      content: "";
      width: 119px;
      height: 1px;
      background-color: $title-color;
    }
  }

  &__descripton {
    color: $text-color;

    font-family: Open Sans;
    @extend %text-styles;
    font-weight: 400;
    margin-top: 9px;
  }

  &__button {
    display: block;
    background: $accent-color;
    color: $button-text-color;
    @extend %text-styles;
    margin-left: auto;
    margin-right: auto;
    margin-top: 73px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
